/*
@font-face {
  font-family: 'iconfont';  
  src: url('//at.alicdn.com/t/font_1689567_i3a4xxjmk2.eot');
  src: url('//at.alicdn.com/t/font_1689567_i3a4xxjmk2.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1689567_i3a4xxjmk2.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1689567_i3a4xxjmk2.woff') format('woff'),
  url('//at.alicdn.com/t/font_1689567_i3a4xxjmk2.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1689567_i3a4xxjmk2.svg#iconfont') format('svg');
}
*/

@font-face {
	font-family: 'iconfont';
	src: url('./static/iconfont.ttf?t=1584522628890') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icontihuodian:before {
	content: "\e641";
}

.iconqingkong:before {
	content: "\e642";
}

.iconlianxi:before {
	content: "\e643";
}

.iconxiugai:before {
	content: "\e644";
}

.iconfenlei:before {
	content: "\e63e";
}

.iconjiantou_shang:before {
	content: "\e63b";
}

.iconjiantou_xia:before {
	content: "\e63c";
}

.iconjiantou_zuo:before {
	content: "\e63d";
}

.iconjiantou_you:before {
	content: "\e63f";
}

.iconhome:before {
	content: "\e640";
}

.icontixing:before {
	content: "\e63a";
}

.icongouwuche:before {
	content: "\e637";
}

.iconhongxin:before {
	content: "\e638";
}

.iconshouye:before {
	content: "\e639";
}

.iconshoucang:before {
	content: "\e636";
}

.iconhoutui:before {
	content: "\e634";
}

.iconfanhui:before {
	content: "\e635";
}

.iconshanchu:before {
	content: "\e630";
}

.iconxuanzhong:before {
	content: "\e631";
}

.iconjiahao:before {
	content: "\e632";
}

.iconjianhao:before {
	content: "\e633";
}

.iconshizhong:before {
	content: "\e62d";
}

.iconsetup:before {
	content: "\e62e";
}

.icondizhi:before {
	content: "\e62f";
}

.icontuikuan:before {
	content: "\e627";
}

.icondaishouhuo:before {
	content: "\e628";
}

.icondaifukuan:before {
	content: "\e629";
}

.icondingdanzhongxin:before {
	content: "\e62a";
}

.iconshezhi:before {
	content: "\e62b";
}

.icondingdanguanli:before {
	content: "\e62c";
}

.iconmores:before {
	content: "\e625";
}

.iconmoreb:before {
	content: "\e624";
}

.iconsaoma:before {
	content: "\e623";
}

.iconxinjian:before {
	content: "\e622";
}

.iconxiaoxi:before {
	content: "\e621";
}

.iconmap:before {
	content: "\e620";
}

.iconmail:before {
	content: "\e61f";
}

.iconkefu:before {
	content: "\e61e";
}
